# Basic Python Programming
this is **basic** Example of python programming, such as variable, function, looping, operators, and logical expression
<br> Author  : Randy Galawana
<br> Date    : 2019-09-30
<br> Sources : [Google](http://www.google.co.id)

***

* Session 1 : Introduction
    * Variable & Arithmatics
    * Method
    * Function
    * Loop
    * List
    * If Statement
* Session 2 : Pandas and Numpy
    * Pandas
    * Numpy
* Session 3 : Data Cleansing
    * Drop Duplicates
    * Add missing data

![Alt text](https://i.ytimg.com/vi/9CS7j5I6aOc/maxresdefault.jpg "Mind Blown")

In [11]:
print("Hello World")

Hello World

In [12]:
print(30+30)

60

In [13]:
print(30//7)

4

## Session 1 : Introduction

### Variable and Aritmathics

In [15]:
x = 105
y = 15
z = 7
t = True
f = False

print(x+z)
print(x/y)
print(x//z)
print(y**2)
print(y%z)
print(type(f))
print(t or f)
print(t and f)

112
7.0
15
225
1
<class 'bool'>
True
False

### List

In [22]:
Fam = [2,3,4,5,6,7]
print(Fam)
type(Fam)
# List inside list

[2, 3, 4, 5, 6, 7]

list

### Method

In [16]:
name = "hello world"
print(name)
print(type(name))
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.strip())

hello world
<class 'str'>
Hello world
HELLO WORLD
hello world
hello world

### Function

In [19]:
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
x,y = max(Data, key=lambda a: a[1])
print(x)
print(y)

Bob
160

### Loop

In [21]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
 print(animal)
 nums = [0, 1, 2, 3, 4]
 squares = [x ** 2 for x in nums]
 print(squares)

cat
[0, 1, 4, 9, 16]
dog
[0, 1, 4, 9, 16]
monkey
[0, 1, 4, 9, 16]

### IF Statement

In [25]:
a=10
b=20
if a == b:
 print('yes')
else:
 print('no')

no

## Session 2 : Pandas and Numpy

### Numpy Array

In [26]:
import numpy as np
Data = [["Bob",160],["Charlie",150],["Brian",140.5]]
height_list = [row[1] for row in Data]
print(type(height_list))
height_array = np.array(height_list)
print(height_array)
print(type(height_array))

<class 'list'>
[160.  150.  140.5]
<class 'numpy.ndarray'>

### Dictionary

In [34]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']
ind_ger = countries.index('germany')
print(ind_ger)
print(capitals[ind_ger])
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo'}
print(type(europe))
print(europe)
print(europe.keys())
print(europe.values())
print(type(europe.values()))

2
berlin
<class 'dict'>
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}
dict_keys(['spain', 'france', 'germany', 'norway'])
dict_values(['madrid', 'paris', 'berlin', 'oslo'])
<class 'dict_values'>

### Pandas

In [37]:
import pandas as pd
# Build dataframe from dictionary
pd.DataFrame()
# Import the csv
url='https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv'
pd.read_csv(url, encoding='latin1')

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,1,903,29991,0,0,0,240396,2367,6.1,0
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,1,738,3244,1,17000,0,211765,546,6.7,0
10,11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,...,1,84,7123,0,0,0,316018,2618,7.2,0
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,1,794,45223,1,26000,0,793059,2528,7.7,0
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,1,11000,64798,1,72000,0,272670,1022,8.2,1
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,1,627,26679,1,44000,0,202382,751,5.9,0
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1,1000,8458,1,150000,0,418214,1290,7.0,0
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,1,393,2039,1,80000,0,522030,1498,7.8,0
16,17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,...,1,11000,79957,1,24000,0,306320,736,6.5,0
17,18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,...,1,560,21714,0,0,0,383427,1912,6.8,0
18,19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,...,1,760,14863,1,44000,0,235025,265,7.3,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
20,21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,...,1,825,28631,1,41000,0,321227,1067,6.7,0
21,22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,...,1,1000,25550,1,30000,0,264183,665,6.8,0
22,23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,...,1,776,4482,1,10000,0,101178,283,6.3,0
23,24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,...,1,988,27468,0,0,0,286095,974,6.6,0
24,25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,...,1,14000,79150,1,94000,0,278232,657,7.2,0
25,26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,...,1,1000,32392,1,129000,0,465019,995,7.0,0
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,1,928,21411,1,92000,0,395573,1171,7.8,0
27,28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,...,1,919,19166,1,83000,0,381148,1106,7.0,0
28,29,Brave,93,1,2012,USA,English,PG,185000000,237282182,...,1,838,5005,1,39000,0,273556,428,7.2,0
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,1,522,2975,1,16000,0,718837,1043,8.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,...,1,618,3935,0,0,9,18271,150,4.4,0
3752,3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,...,1,912,6554,0,0,9,6528,32,6.1,0
3753,3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,...,1,18,708,0,0,9,12128,61,5.6,0
3754,3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,...,1,2000,13626,0,0,9,12706,75,5.3,0
3755,3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,...,1,1000,8097,0,0,9,7098,41,5.0,0
3756,3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,...,1,658,4611,0,0,9,45859,340,7.5,0
3757,3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,...,1,498,2868,1,575,9,4345,26,5.6,0
3758,3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,...,1,708,24082,0,0,10,85531,152,5.5,0
3759,3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,...,1,110,1006,0,0,10,59805,95,6.4,0
3760,3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,...,1,261,2259,1,19000,10,13562,103,6.1,0
3761,3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,...,1,555,5592,0,0,10,21672,93,6.5,0
3762,3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,...,1,3000,41059,1,25000,10,79146,352,4.3,0
3763,3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,...,1,702,5963,1,352,10,4100,35,6.8,0
3764,3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,...,1,421,13693,0,0,11,130070,316,6.4,0
3765,3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,...,1,678,8094,0,0,11,56813,381,6.7,0
3766,3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,...,1,729,4293,0,0,11,89687,666,2.3,0
3767,3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,...,1,547,2787,0,0,11,22161,68,4.1,0
3768,3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,...,1,295,1810,0,0,11,4501,102,3.4,0
3769,3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,...,1,11000,45696,1,9000,12,95437,211,5.7,0
3770,3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,...,1,651,13396,1,14000,12,57266,89,5.7,0
3771,3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,...,1,210,1500,0,0,12,24663,71,6.7,0
3772,3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,...,1,85,10691,0,0,13,9051,68,5.7,0
3773,3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,...,1,14,669,0,0,14,40277,210,7.4,0
3774,3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,...,1,11000,52610,1,56000,15,127258,351,6.1,0
3775,3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,...,1,597,7014,0,0,15,75152,288,5.8,0
3776,3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,...,1,307,23456,1,20000,15,66579,134,5.7,0
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,1,170,3677,0,0,15,189032,560,7.9,0
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

### Convert Dictionary to DataFrame

In [38]:
code = ['US', 'AUS', 'JPN', 'IN', 'RUS', 'MOR', 'EG']
names = ['United States', 'Australia', 'Japan', 'India','Russia','Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'ctrcode':code, 'country':names, 'drives_right':dr,'cars_per_cap':cpc}
cars = pd.DataFrame(my_dict)
print(type(cars))
print(cars)

<class 'pandas.core.frame.DataFrame'>
  ctrcode        country  drives_right  cars_per_cap
0      US  United States          True           809
1     AUS      Australia         False           731
2     JPN          Japan         False           588
3      IN          India         False            18
4     RUS         Russia          True           200
5     MOR        Morocco          True            70
6      EG          Egypt          True            45

### DF Quick Look

In [50]:
cars

  ctrcode        country  drives_right  cars_per_cap
0      US  United States          True           809
1     AUS      Australia         False           731
2     JPN          Japan         False           588
3      IN          India         False            18
4     RUS         Russia          True           200
5     MOR        Morocco          True            70
6      EG          Egypt          True            45

In [40]:
#Dimension
print(cars.shape)
print(cars.columns)
print(len(cars.columns))
print(len(cars))

(7, 4)
Index(['ctrcode', 'country', 'drives_right', 'cars_per_cap'], dtype='object')
4
7

In [43]:
# Brief View
print(cars.head(3))
print(cars.tail(3))

  ctrcode        country  drives_right  cars_per_cap
0      US  United States          True           809
1     AUS      Australia         False           731
2     JPN          Japan         False           588
  ctrcode  country  drives_right  cars_per_cap
4     RUS   Russia          True           200
5     MOR  Morocco          True            70
6      EG    Egypt          True            45

In [44]:
# Data type
cars.dtypes
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
ctrcode         7 non-null object
country         7 non-null object
drives_right    7 non-null bool
cars_per_cap    7 non-null int64
dtypes: bool(1), int64(1), object(2)
memory usage: 255.0+ bytes

In [45]:
# Summary Statistics
cars.describe()

       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

In [47]:
# Set DF Column Index
cars_id = cars.set_index("ctrcode")
print(cars_id.shape)

(7, 3)

In [48]:
cars_id

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
AUS          Australia         False           731
JPN              Japan         False           588
IN               India         False            18
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45

### Pandas loc and iloc

In [53]:
cars_id[['country']]

               country
ctrcode
US       United States
AUS          Australia
JPN              Japan
IN               India
RUS             Russia
MOR            Morocco
EG               Egypt

In [54]:
cars_id['country']

ctrcode
US     United States
AUS        Australia
JPN            Japan
IN             India
RUS           Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [55]:
cars_id[0:3]

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
AUS          Australia         False           731
JPN              Japan         False           588

In [56]:
cars_id.loc[['AUS','EG']]

           country  drives_right  cars_per_cap
ctrcode
AUS      Australia         False           731
EG           Egypt          True            45

In [57]:
cars_id.loc[['RUS','MOR'], ['country','drives_right']]

         country  drives_right
ctrcode
RUS       Russia          True
MOR      Morocco          True

In [58]:
cars_id.iloc[[1, 6]]

           country  drives_right  cars_per_cap
ctrcode
AUS      Australia         False           731
EG           Egypt          True            45

In [59]:
cars_id.iloc[[4,5], [1,2]]

         drives_right  cars_per_cap
ctrcode
RUS              True           200
MOR              True            70

### Where Clause and Sort

In [60]:
print(cars_id[cars_id.drives_right == True])
print(cars_id[(cars_id.cars_per_cap > 100) & (cars_id.country == "Australia") ])

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45
           country  drives_right  cars_per_cap
ctrcode
AUS      Australia         False           731

In [63]:
cars_id.sort_values(by=['cars_per_cap'])

               country  drives_right  cars_per_cap
ctrcode
IN               India         False            18
EG               Egypt          True            45
MOR            Morocco          True            70
RUS             Russia          True           200
JPN              Japan         False           588
AUS          Australia         False           731
US       United States          True           809

In [64]:
cars_id.sort_values(by=['cars_per_cap'], ascending=False)

               country  drives_right  cars_per_cap
ctrcode
US       United States          True           809
AUS          Australia         False           731
JPN              Japan         False           588
RUS             Russia          True           200
MOR            Morocco          True            70
EG               Egypt          True            45
IN               India         False            18

This is Use Case Session
* Data Source: IMDB data (Online database of information related to movies)
* Link: [https://github.com/scalabretta/GroupProject--IMDB/tree/master/Dataset](https://github.com/scalabretta/GroupProject--IMDB/tree/master/Dataset)
* File Name: IMDB-database-update.csv
<br>
<br>
Before doing any coding, please understand first Data Dictionary and the
Context/Use Case
* Data dictionary
* Use Case: Can we predict what kind of films that likely highly rated, whether or not they are a commercial success?

In [65]:
import pandas as pd
url='https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv'
imdb = pd.read_csv(url, encoding='latin1')

In [68]:
print('Dimension of data')
print(imdb.shape)

Dimension of data
(3781, 36)

In [70]:
print('Data Type')
print(type(imdb))

Data Type
<class 'pandas.core.frame.DataFrame'>

In [77]:
print('top 3 rows')
imdb.head(3)

top 3 rows

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1

In [76]:
print('last 3 rows')
imdb.tail(3)

last 3 rows

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,1,826,3177,0,0,19,7894,25,5.0,0
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,1,15,427,1,27000,31,105144,405,7.1,0
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,1,11000,54075,1,40000,43,376600,494,7.7,0

In [74]:
imdb.dtypes

movie_ID                       int64
movie_title                   object
duration                       int64
color                          int64
title_year                     int64
country                       object
language                      object
content_rating                object
budget_USD                     int64
gross_USD                      int64
net_USD                        int64
profitable                     int64
director_name                 object
director_top20?               object
director_facebook?             int64
director_facebook_likes        int64
actor_1_name                  object
actor_top20?                   int64
actor_1_facebook?              int64
actor_1_facebook_likes         int64
actor_2_name                  object
actor_top20?.1                 int64
actor_2_facebook?              int64
actor_2_facebook_likes         int64
actor_3_name                  object
actor_top20?.2                 int64
actor_3_facebook?              int64
actor_3_facebook_likes         int64
cast_total_facebook_likes      int64
movie_facebook?                int64
movie_facebook_likes;          int64
facenumber_in_poster           int64
num_voted_users                int64
num_user_for_reviews           int64
imdb_score                   float64
imdb_top_250                   int64
dtype: object

In [75]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3781 entries, 0 to 3780
Data columns (total 36 columns):
movie_ID                     3781 non-null int64
movie_title                  3781 non-null object
duration                     3781 non-null int64
color                        3781 non-null int64
title_year                   3781 non-null int64
country                      3781 non-null object
language                     3781 non-null object
content_rating               3781 non-null object
budget_USD                   3781 non-null int64
gross_USD                    3781 non-null int64
net_USD                      3781 non-null int64
profitable                   3781 non-null int64
director_name                3781 non-null object
director_top20?              3781 non-null object
director_facebook?           3781 non-null int64
director_facebook_likes      3781 non-null int64
actor_1_name                 3781 non-null object
actor_top20?                 3781 non-null int64
actor_1_facebook?            3781 non-null int64
actor_1_facebook_likes       3781 non-null int64
actor_2_name                 3781 non-null object
actor_top20?.1               3781 non-null int64
actor_2_facebook?            3781 non-null int64
actor_2_facebook_likes       3781 non-null int64
actor_3_name                 3781 non-null object
actor_top20?.2               3781 non-null int64
actor_3_facebook?            3781 non-null int64
actor_3_facebook_likes       3781 non-null int64
cast_total_facebook_likes    3781 non-null int64
movie_facebook?              3781 non-null int64
movie_facebook_likes;        3781 non-null int64
facenumber_in_poster         3781 non-null int64
num_voted_users              3781 non-null int64
num_user_for_reviews         3781 non-null int64
imdb_score                   3781 non-null float64
imdb_top_250                 3781 non-null int64
dtypes: float64(1), int64(26), object(9)
memory usage: 1.0+ MB

In [82]:
imdb[['movie_facebook?']] = imdb[['movie_facebook?']].astype('str')

In [85]:
imdb.describe()

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_top20?.2,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
count,3781.000000,3781.000000,3781.000000,3781.000000,3.781000e+03,3.781000e+03,3.781000e+03,3781.000000,3781.000000,3781.000000,...,3781.000000,3781.000000,3781.000000,3781.000000,3781.000000,3781.000000,3.781000e+03,3781.000000,3781.000000,3781.000000
mean,1891.000000,109.950278,0.967204,2003.081989,4.572770e+07,5.182002e+07,6.092318e+06,0.531870,0.828352,801.610685,...,0.005290,0.992066,764.333774,11417.335625,9264.147051,1.378736,1.039808e+05,331.862470,6.457339,0.041523
std,1091.625012,22.299267,0.178125,9.837954,2.252895e+08,7.003776e+07,2.291199e+08,0.499049,0.377124,3058.757162,...,0.072547,0.088733,1885.768343,19071.218619,21398.159089,2.044844,1.513586e+05,410.112422,1.056270,0.199524
min,1.000000,37.000000,0.000000,1927.000000,2.180000e+02,1.620000e+02,-1.221330e+10,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.200000e+01,1.000000,1.600000,0.000000
25%,946.000000,95.000000,1.000000,1999.000000,1.000000e+07,7.605668e+06,-1.043974e+07,0.000000,1.000000,10.000000,...,0.000000,1.000000,191.000000,1889.000000,0.000000,0.000000,1.831000e+04,105.000000,5.900000,0.000000
50%,1891.000000,106.000000,1.000000,2005.000000,2.500000e+07,2.896520e+07,1.161099e+06,1.000000,1.000000,61.000000,...,0.000000,1.000000,433.000000,3969.000000,217.000000,1.000000,5.250900e+04,207.000000,6.600000,0.000000
75%,2836.000000,120.000000,1.000000,2010.000000,5.000000e+07,6.600997e+07,2.507490e+07,1.000000,1.000000,234.000000,...,0.000000,1.000000,690.000000,16179.000000,11000.000000,2.000000,1.263570e+05,394.000000,7.200000,0.000000
max,3781.000000,325.000000,1.000000,2016.000000,1.221550e+10,7.605058e+08,5.235058e+08,1.000000,1.000000,23000.000000,...,1.000000,1.000000,23000.000000,656730.000000,349000.000000,43.000000,1.689764e+06,5060.000000,9.300000,1.000000

In [86]:
imdb.isnull().sum()

movie_ID                     0
movie_title                  0
duration                     0
color                        0
title_year                   0
country                      0
language                     0
content_rating               0
budget_USD                   0
gross_USD                    0
net_USD                      0
profitable                   0
director_name                0
director_top20?              0
director_facebook?           0
director_facebook_likes      0
actor_1_name                 0
actor_top20?                 0
actor_1_facebook?            0
actor_1_facebook_likes       0
actor_2_name                 0
actor_top20?.1               0
actor_2_facebook?            0
actor_2_facebook_likes       0
actor_3_name                 0
actor_top20?.2               0
actor_3_facebook?            0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
movie_facebook?              0
movie_facebook_likes;        0
facenumber_in_poster         0
num_voted_users              0
num_user_for_reviews         0
imdb_score                   0
imdb_top_250                 0
dtype: int64

In [87]:
imdb = imdb.drop_duplicates()

In [91]:
imdb["color"].value_counts()

1    3657
0     124
Name: color, dtype: int64

In [90]:
imdb["content_rating"].value_counts()

R            1715
PG-13        1311
PG            568
G              88
Not Rated      39
Unrated        24
Approved       14
X              10
NC-17           6
Passed          3
M               2
GP              1
Name: content_rating, dtype: int64

## Use Case: High Rating Movies Criteria
Hints:
* Let’s set imdb_score benchmark as High-Rating movie with imdb_score > 7.5
* Create new variables “score_group” (“High” if imdb_score > 7.5 and “Low” if imdb <= 7.5)
* Analyze at least 5 variables from which you can start figure out criteria of high rated movie
* Analyse 5 more variables to strengthen criteria of high rated movies

In [97]:
def rating(row):
    if row['imdb_score'] > 7.5 : return 'High'
    return 'Low'

imdb['score_group'] = imdb.apply(lambda row : rating(row), axis=1)
imdb['score_group2'] = np.where(imdb['imdb_score'] > 7.5,'High','Low')

In [96]:
imdb

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250,score_group,score_group2
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,4834,1,33000,0,886204,3054,7.9,0,High,high
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,48350,0,0,0,471220,1238,7.1,0,Low,low
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,106759,1,164000,0,1144337,2701,8.5,1,High,high
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,46055,0,0,0,383056,1902,6.2,0,Low,low
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,24450,1,197000,0,371639,3018,6.9,0,Low,low
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,29991,0,0,0,240396,2367,6.1,0,Low,low
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,20495,1,118000,0,548573,2536,7.2,0,Low,low
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,9152,1,65000,0,354228,802,7.5,0,Low,low
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,28489,1,56000,0,451803,1225,7.0,0,Low,low
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,3244,1,17000,0,211765,546,6.7,0,Low,low
10,11,King Kong,201,1,2005,New Zealand,English,PG-13,207000000,218051260,...,7123,0,0,0,316018,2618,7.2,0,Low,low
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,45223,1,26000,0,793059,2528,7.7,0,High,high
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,64798,1,72000,0,272670,1022,8.2,1,High,high
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,26679,1,44000,0,202382,751,5.9,0,Low,low
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,8458,1,150000,0,418214,1290,7.0,0,Low,low
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,2039,1,80000,0,522030,1498,7.8,0,High,high
16,17,Alice in Wonderland,108,1,2010,USA,English,PG,200000000,334185206,...,79957,1,24000,0,306320,736,6.5,0,Low,low
17,18,X-Men: The Last Stand,104,1,2006,Canada,English,PG-13,210000000,234360014,...,21714,0,0,0,383427,1912,6.8,0,Low,low
18,19,Monsters University,104,1,2013,USA,English,G,200000000,268488329,...,14863,1,44000,0,235025,265,7.3,0,Low,low
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,3218,0,0,0,323207,1439,6.0,0,Low,low
20,21,The Amazing Spider-Man 2,142,1,2014,USA,English,PG-13,200000000,202853933,...,28631,1,41000,0,321227,1067,6.7,0,Low,low
21,22,TRON: Legacy,125,1,2010,USA,English,PG,170000000,172051787,...,25550,1,30000,0,264183,665,6.8,0,Low,low
22,23,Cars 2,106,1,2011,USA,English,G,200000000,191450875,...,4482,1,10000,0,101178,283,6.3,0,Low,low
23,24,Terminator Salvation,118,1,2009,USA,English,PG-13,200000000,125320003,...,27468,0,0,0,286095,974,6.6,0,Low,low
24,25,Furious 7,140,1,2015,USA,English,PG-13,190000000,350034110,...,79150,1,94000,0,278232,657,7.2,0,Low,low
25,26,World War Z,123,1,2013,USA,English,PG-13,190000000,202351611,...,32392,1,129000,0,465019,995,7.0,0,Low,low
26,27,Star Trek Into Darkness,132,1,2013,USA,English,PG-13,190000000,228756232,...,21411,1,92000,0,395573,1171,7.8,0,High,high
27,28,Pacific Rim,131,1,2013,USA,English,PG-13,190000000,101785482,...,19166,1,83000,0,381148,1106,7.0,0,Low,low
28,29,Brave,93,1,2012,USA,English,PG,185000000,237282182,...,5005,1,39000,0,273556,428,7.2,0,Low,low
29,30,WALL-E,98,1,2008,USA,English,G,180000000,223806889,...,2975,1,16000,0,718837,1043,8.4,1,High,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751,3752,Soul Plane,92,1,2004,USA,English,R,16000000,13922211,...,3935,0,0,9,18271,150,4.4,0,Low,low
3752,3753,This Christmas,117,1,2007,USA,English,PG-13,13000000,49121934,...,6554,0,0,9,6528,32,6.1,0,Low,low
3753,3754,5 Days of War,113,1,2011,Georgia,English,R,20000000,17149,...,708,0,0,9,12128,61,5.6,0,Low,low
3754,3755,Sleepover,89,1,2004,USA,English,PG,10000000,8070311,...,13626,0,0,9,12706,75,5.3,0,Low,low
3755,3756,Baggage Claim,96,1,2013,USA,English,PG-13,8500000,21564616,...,8097,0,0,9,7098,41,5.0,0,Low,low
3756,3757,Best in Show,90,1,2000,USA,English,PG-13,6000000,18621249,...,4611,0,0,9,45859,340,7.5,0,Low,low
3757,3758,The Players Club,104,1,1998,USA,English,R,4500000,23031390,...,2868,1,575,9,4345,26,5.6,0,Low,low
3758,3759,Little Fockers,98,1,2010,USA,English,PG-13,100000000,148383780,...,24082,0,0,10,85531,152,5.5,0,Low,low
3759,3760,Delivery Man,105,1,2013,USA,English,PG-13,26000000,30659817,...,1006,0,0,10,59805,95,6.4,0,Low,low
3760,3761,My Big Fat Greek Wedding 2,94,1,2016,USA,English,PG-13,18000000,59573085,...,2259,1,19000,10,13562,103,6.1,0,Low,low
3761,3762,Top Five,102,1,2014,USA,English,R,12000000,25277561,...,5592,0,0,10,21672,93,6.5,0,Low,low
3762,3763,Movie 43,94,1,2013,USA,English,R,6000000,8828771,...,41059,1,25000,10,79146,352,4.3,0,Low,low
3763,3764,Get on the Bus,120,1,1996,USA,English,R,2400000,5731103,...,5963,1,352,10,4100,35,6.8,0,Low,low
3764,3765,The Longest Yard,113,1,2005,USA,English,PG-13,82000000,158115031,...,13693,0,0,11,130070,316,6.4,0,Low,low
3765,3766,I Heart Huckabees,107,1,2004,USA,English,R,22000000,12784713,...,8094,0,0,11,56813,381,6.7,0,Low,low
3766,3767,Epic Movie,93,1,2007,USA,English,PG-13,20000000,39737645,...,4293,0,0,11,89687,666,2.3,0,Low,low
3767,3768,One Direction: This Is Us,106,1,2013,USA,English,PG,10000000,28873374,...,2787,0,0,11,22161,68,4.1,0,Low,low
3768,3769,God's Not Dead 2,120,1,2016,USA,English,PG,5000000,20773070,...,1810,0,0,11,4501,102,3.4,0,Low,low
3769,3770,Valentine's Day,125,1,2010,USA,English,PG-13,52000000,110476776,...,45696,1,9000,12,95437,211,5.7,0,Low,low
3770,3771,What to Expect When You're Expecting,110,1,2012,USA,English,PG-13,40000000,41102171,...,13396,1,14000,12,57266,89,5.7,0,Low,low
3771,3772,Taking Woodstock,120,1,2009,USA,English,R,30000000,7443007,...,1500,0,0,12,24663,71,6.7,0,Low,low
3772,3773,Love the Coopers,107,1,2015,USA,English,PG-13,17000000,26284475,...,10691,0,0,13,9051,68,5.7,0,Low,low
3773,3774,A Bridge Too Far,175,0,1977,USA,English,PG,26000000,50800000,...,669,0,0,14,40277,210,7.4,0,Low,low
3774,3775,The Expendables 3,131,1,2014,USA,English,PG-13,90000000,39292022,...,52610,1,56000,15,127258,351,6.1,0,Low,low
3775,3776,Cheaper by the Dozen,94,1,2003,USA,English,PG,40000000,138614544,...,7014,0,0,15,75152,288,5.8,0,Low,low
3776,3777,New Year's Eve,113,1,2011,USA,English,PG-13,56000000,54540525,...,23456,1,20000,15,66579,134,5.7,0,Low,low
3777,3778,Boogie Nights,155,1,1997,USA,English,R,15000000,26384919,...,3677,0,0,15,189032,560,7.9,0,High,high
3778,3779,Battle of the Year,110,1,2013,USA,English,PG-13,20000000,8888355,...,3177,0,0,19,7894,25,5.0,0,Low,low
3779,3780,The Master,144,1,2012,USA,English,R,32000000,16377274,...,427,1,27000,31,105144,405,7.1,0,Low,low
3780,3781,500 Days of Summer,95,1,2009,USA,English,PG-13,7500000,32391374,...,54075,1,40000,43,376600,494,7.7,0,High,high

In [100]:
imdb['score_group'].value_counts()

Low     3247
High     534
Name: score_group, dtype: int64

In [101]:
high_rated = imdb[imdb.score_group == 'High']

In [102]:
high_rated.head(5)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250,score_group,score_group2
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,4834,1,33000,0,886204,3054,7.9,0,High,High
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,106759,1,164000,0,1144337,2701,8.5,1,High,High
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,45223,1,26000,0,793059,2528,7.7,0,High,High
12,13,Captain America: Civil War,147,1,2016,USA,English,PG-13,250000000,407197282,...,64798,1,72000,0,272670,1022,8.2,1,High,High
15,16,Skyfall,143,1,2012,UK,English,PG-13,200000000,304360277,...,2039,1,80000,0,522030,1498,7.8,0,High,High

In [103]:
high_rated.describe()

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_top20?.2,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
count,534.000000,534.000000,534.000000,534.000000,5.340000e+02,5.340000e+02,5.340000e+02,534.000000,534.000000,534.000000,...,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,5.340000e+02,534.000000,534.000000,534.000000
mean,1725.741573,125.621723,0.915730,1999.149813,5.331466e+07,8.558745e+07,3.227280e+07,0.719101,0.698502,2205.614232,...,0.014981,0.985019,994.825843,13603.840824,24948.932584,1.097378,2.970237e+05,694.608614,7.933895,0.294007
std,1027.924951,31.474508,0.278052,14.530295,2.175500e+08,1.098360e+08,2.322470e+08,0.449860,0.459339,5330.116199,...,0.121592,0.121592,2781.370000,16830.847573,37593.279978,2.389367,2.761334e+05,655.144627,0.316632,0.456022
min,1.000000,37.000000,0.000000,1927.000000,4.000000e+04,1.111000e+03,-4.199788e+09,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,5.780000e+02,9.000000,7.600000,0.000000
25%,905.750000,105.000000,1.000000,1994.000000,7.000000e+06,1.132178e+07,-8.560920e+05,0.000000,0.000000,0.000000,...,0.000000,1.000000,114.750000,1510.500000,0.000000,0.000000,9.305925e+04,281.000000,7.700000,0.000000
50%,1611.500000,121.000000,1.000000,2003.000000,1.900000e+07,4.317500e+07,1.748971e+07,1.000000,1.000000,132.500000,...,0.000000,1.000000,402.000000,5088.500000,13000.000000,1.000000,2.213400e+05,514.000000,7.800000,0.000000
75%,2515.250000,139.000000,1.000000,2009.000000,5.000000e+07,1.202719e+08,6.770634e+07,1.000000,1.000000,569.000000,...,0.000000,1.000000,669.750000,20390.250000,31000.000000,1.000000,4.137778e+05,870.000000,8.100000,1.000000
max,3781.000000,293.000000,1.000000,2016.000000,4.200000e+09,7.605058e+08,5.235058e+08,1.000000,1.000000,22000.000000,...,1.000000,1.000000,23000.000000,106759.000000,349000.000000,43.000000,1.689764e+06,5060.000000,9.300000,1.000000

In [108]:
high_rated.std()

movie_ID                     1.027925e+03
duration                     3.147451e+01
color                        2.780523e-01
title_year                   1.453030e+01
budget_USD                   2.175500e+08
gross_USD                    1.098360e+08
net_USD                      2.322470e+08
profitable                   4.498596e-01
director_facebook?           4.593388e-01
director_facebook_likes      5.330116e+03
actor_top20?                 4.061603e-01
actor_1_facebook?            0.000000e+00
actor_1_facebook_likes       1.034476e+04
actor_top20?.1               2.443938e-01
actor_2_facebook?            8.630455e-02
actor_2_facebook_likes       5.156002e+03
actor_top20?.2               1.215916e-01
actor_3_facebook?            1.215916e-01
actor_3_facebook_likes       2.781370e+03
cast_total_facebook_likes    1.683085e+04
movie_facebook_likes;        3.759328e+04
facenumber_in_poster         2.389367e+00
num_voted_users              2.761334e+05
num_user_for_reviews         6.551446e+02
imdb_score                   3.166324e-01
imdb_top_250                 4.560225e-01
dtype: float64

In [127]:
high_rated_group = high_rated.groupby(['country'])
high_rated_sort = high_rated_group.apply(lambda x: x.sort_values(["net_USD"],ascending=False))
high_rated_regroup = high_rated_sort[['country','movie_title','net_USD']].reset_index(drop=True)
high_rated_regroup.groupby(['country']).head(3)

,country,movie_title,net_USD
0,Argentina,The Secret in Their Eyes,18167424
1,Argentina,Nine Queens,-278739
2,Australia,The Lego Movie,197756197
3,Australia,Shine,30311509
4,Australia,Mad Max 2: The Road Warrior,7003011
7,Brazil,City of God,4263397
8,Brazil,Central Station,2695428
9,Brazil,The Second Mother,-3624277
11,Canada,Incendies,57096
12,Canada,The Red Violin,-526618
13,Canada,The Sweet Hereafter,-693303
17,China,The Last Emperor,20984230
18,China,City of Life and Death,-11880078
19,China,Hero,-30915039
23,Denmark,The Celebration,347780
24,Denmark,The Hunt,-3189032
25,Denmark,Dancer in the Dark,-8642509
26,France,Taken,120000989
27,France,March of the Penguins,69413017
28,France,JFK,30405498
47,Germany,Crash,48057348
48,Germany,Crash,48057348
49,Germany,Bowling for Columbine,17244913
60,Hong Kong,The Legend of Drunken Master,9546543
61,Hong Kong,Kung Fu Hustle,-2895331
62,India,The Lunchbox,3231500
63,India,My Name Is Khan,-7981305
64,Indonesia,The Raid: Redemption,3005123
65,Iran,A Separation,6598492
66,Iran,Children of Heaven,745402
...,...,...,...
71,Italy,The Great Beauty,-6364114
72,Italy,The Best Offer,-13414567
74,Japan,Seven Samurai,-1730939
75,Japan,Spirited Away,-8950114
76,Japan,Ponyo,-18918217
80,Mexico,Instructions Not Included,39456509
81,Mexico,Y Tu Mam?? Tambi??n,11622333
82,Mexico,Amores Perros,3383834
83,Netherlands,Character,-3786587
84,Netherlands,Black Book,-16601608
85,New Zealand,The Lord of the Rings: The Fellowship of the Ring,220837577
86,New Zealand,The Piano,33158000
87,New Zealand,Whale Rider,14772796
90,Norway,Elling,-15186564
91,Norway,Headhunters,-29103248
92,South Africa,District 9,85646235
93,South Africa,Gangster's Paradise: Jerusalema,-1995042
94,South Korea,Oldboy,-818710
95,South Korea,Tae Guk Gi: The Brotherhood of War,-11689814
96,South Korea,Lady Vengeance,-4199788333
97,Spain,Midnight in Paris,39816662
98,Spain,Pan's Labyrinth,24123143
99,Spain,My Life Without Me,-1604408
104,UK,The Jungle Book,187645141
105,UK,The Jungle Book,187645141
106,UK,Gravity,174084951
167,USA,Avatar,523505847
168,USA,Titanic,458672302
169,USA,Star Wars: Episode IV - A New Hope,449935665
533,West Germany,Das Boot,-2566866